{% extends "blog/base.html" %}
 
{% block content %}
<div class="posts">
        <section class="post">
            <header class="post-header">
                <h1 class="post-title">船长简介</h1>
                    <p class="post-meta">
                        Time:  <font color='blue'>2018/2/12</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Label: <font class="post-category post-category-js">自我介绍</font>
                    </p>
            </header>
 
                <div class="post-description">
		    <Br/>
		    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1518440635598&di=49181fb35eb3b1e9aebb5626cb2c3dfd&imgtype=0&src=http%3A%2F%2Fimage3.xyzs.com%2Fupload%2Ff2%2Ffc%2F324%2F20150506%2F143086873610079_0.jpg" width="10%" />
		    <p>昵称：Oliver0047 </p>
		    <p>性别：男 </p>
                    <p>专业：电子信息科学与技术 </p>
		    <p>学历：本科就读中 </p>
		    <p>QQ：597288162 </p>
		    <p>博客内容范围：单片机、树莓派、数据结构与算法、Python、机器学习</p>
		    <p>备注：本人才疏学浅，也属于萌新，还在不断学习中，所以日后博客中有什么错误，希望大家能在建议区积极指出><,但是也不要乱喷，因为你喷了我也会删掉^^><</p>
                </div>
        </section>
</div><!-- /.blog-about_me -->
{% endblock %}
