{% extends "blog/base.html" %}
 
{% block content %}
<div class="posts">
    <font size="10" color="gray"> <img src="https://b-ssl.duitang.com/uploads/item/201402/09/20140209213704_cStdF.thumb.700_0.jpeg" width="10%" />&nbsp;&nbsp;&nbsp;*Oliver的航海日志*</font>
    {% for post in post_list %}
        <section class="post">
		<p>
			<font size="5">	
                        >>  {{ post.pub_date |date:'Y /m /d'}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a class="post-category post-category-js" href="{% url 'blog_label' %}">{{ post.category }}</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="{% url 'blog_detail' id=post.id %}">{{ post.title }}</a>
			</font>
                </p>
        </section>
    {% endfor %}
</div><!-- /.blog-list -->
{% endblock %}
 
